---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";

const entry = await getEntry("project", "pbr");
const tags = entry.data.tags;
//const tag_url = entry.data.url.split("/").slice(0, -1).join("/") + "/tag";

import VideoThumb from "../../assets/projects/pbr-model/video-thumb.png";
import CarouselImage1 from "../../assets/projects/pbr-model/1.png";
import CarouselImage2 from "../../assets/projects/pbr-model/2.png";
import CarouselImage3 from "../../assets/projects/pbr-model/3.png";
import CarouselImage4 from "../../assets/projects/pbr-model/4.png";

import GuiImage from "../../assets/projects/pbr-model/gui.png";
import Metal0 from "../../assets/projects/pbr-model/metal0.png";
import Metal033 from "../../assets/projects/pbr-model/metal033.png";
import Metal066 from "../../assets/projects/pbr-model/metal066.png";
import Metal1 from "../../assets/projects/pbr-model/metal1.png";
import MetalRough020 from "../../assets/projects/pbr-model/metal_rough020.png";
import MetalRough032 from "../../assets/projects/pbr-model/metal_rough032.png";
import MetalRough078 from "../../assets/projects/pbr-model/metal_rough078.png";
import Clearcoat1 from "../../assets/projects/pbr-model/clearcoat1.png";
---

<BaseLayout title="Project" sideBarActiveItemID="projects">
    <div class="max-w-[1000px]">
        <div>
            <div class="text-3xl w-full font-bold mb-2">
                {"</> "}
                {entry.data.title}
            </div>
            <div class="card-actions mb-2">
                {
                    tags &&
                        tags.map((tag) => (
                            <a class="badge badge-lg badge-neutral">{tag}</a>
                        ))
                }
            </div>
        </div>
        <div class="divider"></div>

        <div class="flex justify-center">
            <div class="mb-12">
                <div class="carousel w-full rounded-lg xl:w-[900px] mb-2">
                    <div id="item1" class="carousel-item w-full">
                        <video autoplay muted loop>
                            <source
                                src="/projects/pbr-model/vid.webm"
                                type="video/webm"
                            />
                        </video>
                    </div>
                    <div id="item2" class="carousel-item w-full">
                        <Image
                            src={CarouselImage1}
                            class="w-full"
                            alt="Carousel Image 1"
                            loading="eager"
                        />
                    </div>
                    <div id="item3" class="carousel-item w-full">
                        <Image
                            src={CarouselImage2}
                            class="w-full"
                            alt="Carousel Image 2"
                            loading="eager"
                        />
                    </div>
                    <div id="item4" class="carousel-item w-full">
                        <Image
                            src={CarouselImage3}
                            class="w-full"
                            alt="Carousel Image 3"
                            loading="eager"
                        />
                    </div>
                    <div id="item5" class="carousel-item w-full">
                        <Image
                            src={CarouselImage4}
                            class="w-full"
                            alt="Carousel Image 4"
                            loading="eager"
                        />
                    </div>
                </div>

                <div
                    class="carousel-thumbs grid grid-cols-5 gap-4 xl:w-[900px]"
                >
                    <div>
                        <Image
                            src={VideoThumb}
                            data-val="1"
                            class="h-auto max-w-full rounded-lg"
                            alt="Video Thumbnail"
                            loading="eager"
                        />
                    </div>
                    <div>
                        <Image
                            src={CarouselImage1}
                            data-val="2"
                            class="h-auto max-w-full rounded-lg"
                            alt="Carousel Thumbnail 1"
                            loading="eager"
                        />
                    </div>
                    <div>
                        <Image
                            src={CarouselImage2}
                            data-val="3"
                            class="h-auto max-w-full rounded-lg"
                            alt="Carousel Thumbnail 2"
                            loading="eager"
                        />
                    </div>
                    <div>
                        <Image
                            src={CarouselImage3}
                            data-val="4"
                            class="h-auto max-w-full rounded-lg"
                            alt="Carousel Thumbnail 3"
                            loading="eager"
                        />
                    </div>
                    <div>
                        <Image
                            src={CarouselImage4}
                            data-val="5"
                            class="h-auto max-w-full rounded-lg"
                            alt="Carousel Thumbnail 4"
                            loading="eager"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col md:flex-row justify-between mb-8">
            <div
                class="text-base tracking-tight font-sans bg-base-200 rounded-lg mb-2 md:mb-0 text-justify p-5 py-3 w-[100%]"
            >
                {entry.data.description}
            </div>
            <div class="divider md:divider-horizontal hidden md:flex"></div>
            <div class="flex flex-row md:flex-col justify-end md:justify-start">
                <div class="mr-2 last:mr-0 md:mb-2 md:mr-0">
                    <a
                        class="btn uppercase min-w-[135px] lg:min-w-[165px] hover:shadow-md transition ease-in-out h-[45px] min-h-[45px]"
                        href={entry.data.githubLink}
                        target="_blank"
                        class="btn"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="26"
                            height="26"
                            viewBox="0 0 24 24"
                            style="fill: currentColor;transform: ;msFilter:;"
                            ><path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
                            ></path>
                        </svg>
                        Github
                    </a>
                </div>
                <!-- <div class="">
                    <a
                        class="btn uppercase min-w-[135px] lg:min-w-[165px] hover:shadow-md transition ease-in-out h-[45px] min-h-[45px]"
                        href="https://www.github.com"
                        target="_blank"
                        class="btn"
                    >
                        <svg
                            width="26"
                            xmlns="http://www.w3.org/2000/svg"
                            class="ionicon"
                            viewBox="0 0 512 512"
                            ><path
                                d="M416 221.25V416a48 48 0 01-48 48H144a48 48 0 01-48-48V96a48 48 0 0148-48h98.75a32 32 0 0122.62 9.37l141.26 141.26a32 32 0 019.37 22.62z"
                                fill="none"
                                stroke="currentColor"
                                stroke-linejoin="round"
                                stroke-width="32"></path><path
                                d="M256 56v120a32 32 0 0032 32h120"
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="32"></path></svg
                        >
                        Report
                    </a>
                </div> -->
            </div>
        </div>

        <div class="p-2">
            <div class="text-2xl w-full font-bold mb-2">
                Implementation Details
            </div>
            <div class="mb-2">
                The main references for the implementation were [Karis, Real
                <a class="italic">Shading in UE4</a>, 2013] and <a
                    href="https://google.github.io/filament/Filament.md.html"
                    class="font-semibold text-gray-900 underline dark:text-white decoration-secondary"
                    >[Filament]</a
                >'s specification.
            </div>

            <div class="flex ml-2">
                <ul class="space-y-6 list-disc list-inside">
                    <li>
                        <a class="font-bold">PBR Materials</a>: The materials
                        use physically based parameters and reflection functions
                        to represent lighting more accurately and provide a more
                        intuitive setup. Supports the metal-roughness workflow
                        and clear coat.
                    </li>
                    <div class="flex justify-center">
                        <div class="grid grid-cols-4 gap-1 max-w-[900px]">
                            <div>
                                <Image
                                    class="h-auto max-w-full rounded-lg"
                                    src={Metal0}
                                    alt="Metal = 0"
                                />
                            </div>
                            <div>
                                <Image
                                    class="h-auto max-w-full rounded-lg"
                                    src={Metal033}
                                    alt="Metal = 0.33"
                                />
                            </div>
                            <div>
                                <Image
                                    class="h-auto max-w-full rounded-lg"
                                    src={Metal066}
                                    alt="Metal = 0.66"
                                />
                            </div>
                            <div>
                                <Image
                                    class="h-auto max-w-full rounded-lg"
                                    src={Metal1}
                                    alt="Metal = 1"
                                />
                            </div>
                            <div>
                                <Image
                                    class="h-auto max-w-full rounded-lg"
                                    src={MetalRough020}
                                    alt="Rough metal"
                                />
                            </div>
                            <div>
                                <Image
                                    class="h-auto max-w-full rounded-lg"
                                    src={MetalRough032}
                                    alt="Rough metal"
                                />
                            </div>
                            <div>
                                <Image
                                    class="h-auto max-w-full rounded-lg"
                                    src={MetalRough078}
                                    alt="Rough metal"
                                />
                            </div>
                            <div>
                                <Image
                                    class="h-auto max-w-full rounded-lg"
                                    src={Clearcoat1}
                                    alt="Clearcoat = 1 on a rough metal"
                                />
                            </div>
                        </div>
                    </div>
                    <li>
                        <a class="font-bold">Environment Lighting</a>: The
                        environment's diffuse and specular contributions are
                        precomputed using a <a
                            class="underline"
                            href="https://github.com/fabio-dscar/iblenv-tool"
                            >custom tool</a
                        > to allow for efficient lookup in real-time.
                    </li>

                    <li>
                        <a class="font-bold">Demo</a>: A simple demo with a GUI
                        to change parameters in real time.
                    </li>

                    <div>
                        <Image
                            src={GuiImage}
                            format="png"
                            class="h-auto max-w-full rounded-lg"
                            alt="GUI Image"
                        />
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-6"></div>
</BaseLayout>

<style>
    .carousel-thumbs img {
        transition: filter 0.5s !important;
        filter: brightness(60%);
        cursor: pointer;
    }

    .carousel-thumbs .normal {
        filter: brightness(100%);
    }
</style>

<script>
    var currCarousel = 0;
    const numThumbs = 5;

    function highlightCarouselThumb() {
        let els = document.querySelectorAll(".carousel-thumbs div img");
        els.forEach((el) => {
            if (el.getAttribute("data-val") == String(currCarousel + 1))
                el.classList.add("normal");
            else el.classList.remove("normal");
        });
    }

    function setCurrCarousel() {
        let car = document.querySelector(".carousel");
        currCarousel = Math.floor(car.scrollLeft / car?.clientWidth);
    }

    function slideNext() {
        let car = document.querySelector(".carousel");
        currCarousel = (currCarousel + 1) % numThumbs;
        car.scrollLeft = currCarousel * car?.clientWidth;
        highlightCarouselThumb();
    }

    function carouselSlideShow() {
        setTimeout(function () {
            setInterval(function () {
                slideNext();
            }, 7000);
        }, 8000);
    }

    const onThumbClick = (el) => {
        let val = el.target.getAttribute("data-val");
        let car = document.querySelector(".carousel");
        car.scrollLeft = (val - 1) * car?.clientWidth;
        currCarousel = val - 1;
        highlightCarouselThumb();
    };

    var oldOnload = window.onload;
    window.onload = () => {
        if (oldOnload) oldOnload();

        let els = document.querySelectorAll(".carousel-thumbs div");
        els.forEach((el) => {
            el.addEventListener("click", onThumbClick);
        });

        setCurrCarousel();
        highlightCarouselThumb();
        carouselSlideShow();
    };
</script>
