---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="autumn">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="">
    <script is:inline>
      const storageKey = "theme-preference";

      const getColorPreference = () => {
        if (localStorage.getItem(storageKey))
          return localStorage.getItem(storageKey);
        else
          return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dracula"
            : "autumn";
      };

      const theme = {
        value: getColorPreference(),
      };

      const onThemeClick = () => {
        // flip current value
        theme.value = theme.value === "autumn" ? "dracula" : "autumn";
        setPreference();
      };

      const setPreference = () => {
        localStorage.setItem(storageKey, theme.value);
        reflectPreference();
      };

      const reflectPreference = () => {
        document.firstElementChild.setAttribute("data-theme", theme.value);

        document
          .querySelectorAll(".themeToggle")
          .forEach((e) => e.setAttribute("aria-label", theme.value));

        document
          .querySelectorAll(".themeToggle")
          .forEach((e) => e.setAttribute("data-theme", theme.value));

        /*document
          .querySelector(".themeToggle")
          ?.setAttribute("data-theme", theme.value);*/
      };

      // set early so no page flashes / CSS is made aware
      reflectPreference();

      var olderOnLoad = window.onload;
      window.onload = () => {
        if (olderOnLoad) olderOnLoad();
        // set on load so screen readers can see latest value on the button
        reflectPreference();

        // now this script can find and listen for clicks on the control
        document
          .querySelectorAll(".themeToggle")
          .forEach((e) => e.addEventListener("click", onThemeClick));
        /*document
          .querySelector(".themeToggle")
          .addEventListener("click", onThemeClick);*/

        //document.querySelector("body")?.classList.remove("invisible");
        //document.querySelector("aside")?.classList.remove("invisible");
      };

      // sync with system changes
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", ({ matches: isDark }) => {
          theme.value = isDark ? "dracula" : "autumn";
          setPreference();
        });
    </script>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex justify-center lg:justify-start">
          <!-- md:justify-center -->
          <main
            class="p-6 pt-10 lg:max-w-[1200px] max-w-[100vw] md:ml-2 xl:ml-8"
          >
            <!--lg:ml-5 xl:ml-8 -->
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>
