---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="autumn">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <script>
      const storageKey = "theme-preference";

      const getColorPreference = () => {
        if (localStorage.getItem(storageKey))
          return localStorage.getItem(storageKey);
        else
          return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dracula"
            : "autumn";
      };

      const theme = {
        value: getColorPreference(),
      };

      const reflectPreference = () => {
        document.firstElementChild.setAttribute("data-theme", theme.value);

        document
          .querySelector("#themeToggle")
          ?.setAttribute("aria-label", theme.value);
        document
          .querySelector("#themeToggle")
          ?.setAttribute("data-theme", theme.value);
      };

      // set early so no page flashes / CSS is made aware
      reflectPreference();
    </script>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <BlogHeader title={SITE_TITLE} />
        <div class="md:flex justify-center">
          <!-- md:justify-center -->
          <main class="p-6 pt-10 lg:max-w-[1200px] max-w-[100vw]">
            <!--lg:ml-5 xl:ml-8 -->
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>
